<html>
        <head>
                <meta name="decorator" content="atl.admin"/>
                <title>$action.getText("msg.configuration")</title>
        </head>
        <body>
			<style type="text/css">
			.xslt-processor-content {
			    border: 1px solid rgb(221, 221, 221);
			    -moz-border-radius: 15px 15px 15px 15px;
			    padding: 20px;
			}
			#xslt-processor-notification {
				height:150px;
				width:400px;
			}
			</style>
        
                <div class="xslt-processor-content">
                	#parse("/template/includes/actionerrors.vm")
                	<div class="xslt-processor-config">
                		<form action="$req.getContextPath()/plugins/xsltprocess/admin/configure.action" method="post" class="aui">
	               			<input type="hidden" name="action" value="save"/>
	                		<div class="field-group">
		                		<label for="xslt-title">$action.getText("msg.title")</label>
		                		<input class="text" id="xslt-title" type="text" name="xslt-title" value=""/>
		                	</div>
		                	<div class="field-group">
		                		<label for="xslt-template">$action.getText("msg.xslt.template")</label>
		                		<textarea class="textarea" id="xslt-template" name="xslt-template"></textarea>
		                	</div>
		                	<div class="field-group">
		                		<input class="button" type="submit" value="$action.getText("msg.submit")"/>
		                	</div>
                		</form>
                	</div>
                	TODO...<br/>
                	<b>$!xsltTemplates.size Templates</b>
                	<br/>
                	<ul>
                		#foreach($tpl in $xsltTemplates)
                		<li>$tpl.getTitle() ($tpl.getId()) / $tpl.getTemplate() <a href="$req.getContextPath()/plugins/xsltprocess/admin/configure.action?action=delete&id=$tpl.getId()">X</a></li>
                		#end
                	</ul>
                	<br/>
                	<hr/>
                	<div class="xslt-processor-info">
                		<small>
                			<a href="http://www.hascode.com">by hasCode.com</a>
                		</small>
                	</div>
                </div>
        </body>
</html>
