<html>
        <head>
                <meta name="decorator" content="atl.admin"/>
                <title>$action.getText("msg.configuration")</title>
        </head>
        <body>
			<style type="text/css">
			.xslt-processor-content {
			    border: 1px solid rgb(221, 221, 221);
			    -moz-border-radius: 15px 15px 15px 15px;
			    padding: 20px;
			}
			#xslt-processor-notification {
				height:150px;
				width:400px;
			}
			.xslt-processor-content .url-suffix {
			font-size:11px;background-color:#fff;border:1px dashed #666;width:340px;padding:2px;background-color:#ddd";
			}
			</style>
			<script>
			var formUrl = '$req.getContextPath()/plugins/xsltprocess/admin/configure.action';
			</script>
        		#requireResource("com.atlassian.auiplugin:aui-experimental-badge")
        		#requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
                <div class="xslt-processor-content">
                	#parse("/template/includes/actionerrors.vm")
                	<div class="xslt-processor-config">
                		<form action="$req.getContextPath()/plugins/xsltprocess/admin/configure.action" method="post" class="aui">
	               			<input type="hidden" name="action" value="save"/>
	               			<input type="hidden" name="xslt-id" value="$!templateEdited.getId()"/>
	                		<div class="field-group">
		                		<label for="xslt-title">$action.getText("msg.title")</label>
		                		<input class="text" id="xslt-title" type="text" name="xslt-title" value="$!templateEdited.getTitle()"/>
		                	</div>
		                	<div class="field-group">
		                		<label for="xslt-template">$action.getText("msg.xslt.template")</label>
		                		<textarea class="textarea" id="xslt-template" name="xslt-template">$!templateEdited.getTemplate()</textarea>
		                	</div>
		                	<div class="field-group">
		                		<input class="button" type="submit" value="$action.getText("msg.submit")"/>
		                		<input class="button" type="button" value="$action.getText("msg.refresh")" onclick="window.location=formUrl"/>
		                	</div>
                		</form>
                	</div>
                	<hr/>
                	<b>$action.getText("msg.templates.existing")</b> <span class="aui-badge">$xsltTemplates.size()</span>
                	<br/>
                	<table class="aui">
                		#foreach($tpl in $xsltTemplates)
                		<tr>
                			<td>
                				<a href="$req.getContextPath()/plugins/xsltprocess/admin/configure.action?action=edit&id=$tpl.getId()">$tpl.getTitle()</a>
                			</td>
                			<td>
	                			<span class="aui-badge"><a href="$req.getContextPath()/plugins/xsltprocess/admin/configure.action?action=edit&id=$tpl.getId()">edit</a></span>
	                		</td>
	                		<td>
	                			<span class="aui-badge"><a href="$req.getContextPath()/plugins/xsltprocess/admin/configure.action?action=delete&id=$tpl.getId()">delete</a></span>
	                		</td>
	                		<td>
	                			<span class="aui-badge">$action.getText("msg.url.suffix"):</span> <input type="text" class="text url-suffix" readonly="true" value="?xsltransform=$tpl.getId()"/>
	                		</td>
	                	</tr>
                		#end
                	</table>
                	<br/>
                	<hr/>
                	<div class="xslt-processor-info">
                		<small>
                			<a href="http://www.hascode.com/">by hasCode.com</a>
                		</small>
                	</div>
                </div>
        </body>
</html>
